<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ExampleWinformDB.Properties.Settings.MyDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\robertev\AppData\Local\MyApp\MyDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MyDatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\robertev\AppData\Local\MyApp\MyDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T47EN6\SQLEXPRESS01;initial catalog=Northwind;persist security info=True;user id=robertev;password=rob9191!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ExampleWinformDB.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=DESKTOP-5T47EN6\SQLEXPRESS01;Initial Catalog=Northwind;Persist Security Info=True;User ID=robertev;Password=rob9191!"
      providerName="System.Data.SqlClient" />
    <!--<add name="ExampleWinformDB.Properties.Settings.MyDatabaseConnectionString"
    connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\robertev\AppData\Local\MyApp\MyDatabase.mdf;Integrated Security=True"
    providerName="System.Data.SqlClient" />
    <add name="MyDatabaseEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\robertev\AppData\Local\MyApp\MyDatabase.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities" connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-5T47EN6\SQLEXPRESS01;initial catalog=Northwind;persist security info=True;user id=robertev;password=rob9191!;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ExampleWinformDB.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=DESKTOP-5T47EN6\SQLEXPRESS01;Initial Catalog=Northwind;Persist Security Info=True;User ID=robertev;Password=rob9191!"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>